.theme-rosewater {
  --slidev-theme-primary: var(--ctp-mocha-rosewater);
}
.theme-rosewater:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-rosewater);
}

.theme-flamingo {
  --slidev-theme-primary: var(--ctp-mocha-flamingo);
}
.theme-flamingo:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-flamingo);
}

.theme-pink {
  --slidev-theme-primary: var(--ctp-mocha-pink);
}
.theme-pink:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-pink);
}

.theme-mauve {
  --slidev-theme-primary: var(--ctp-mocha-mauve);
}
.theme-mauve:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-mauve);
}

.theme-red {
  --slidev-theme-primary: var(--ctp-mocha-red);
}
.theme-red:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-red);
}

.theme-maroon {
  --slidev-theme-primary: var(--ctp-mocha-maroon);
}
.theme-maroon:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-maroon);
}

.theme-peach {
  --slidev-theme-primary: var(--ctp-mocha-peach);
}
.theme-peach:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-peach);
}

.theme-yellow {
  --slidev-theme-primary: var(--ctp-mocha-yellow);
}
.theme-yellow:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-yellow);
}

.theme-green {
  --slidev-theme-primary: var(--ctp-mocha-green);
}
.theme-green:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-green);
}

.theme-teal {
  --slidev-theme-primary: var(--ctp-mocha-teal);
}
.theme-teal:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-teal);
}

.theme-sky {
  --slidev-theme-primary: var(--ctp-mocha-sky);
}
.theme-sky:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-sky);
}

.theme-sapphire {
  --slidev-theme-primary: var(--ctp-mocha-sapphire);
}
.theme-sapphire:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-sapphire);
}

.theme-blue {
  --slidev-theme-primary: var(--ctp-mocha-blue);
}
.theme-blue:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-blue);
}

.theme-lavender {
  --slidev-theme-primary: var(--ctp-mocha-lavender);
}
.theme-lavender:not(.dark) {
  --slidev-theme-primary: var(--ctp-latte-lavender);
}
